
*.xml
build/test-results/test/TEST-frc.robot.util.SmoothDampTest.xml
build/test-results/test/TEST-frc.robot.RobotTest.xml
build/test-results/test/binary/results.bin
build/reports/tests/test/packages/frc.robot.util.html
build/reports/tests/test/packages/frc.robot.html
build/reports/tests/test/js/report.js
build/reports/tests/test/css/style.css
build/reports/tests/test/css/base-style.css
build/reports/tests/test/css/base-style.css
build/reports/tests/test/classes/frc.robot.util.SmoothDampTest.html
build/reports/tests/test/classes/frc.robot.RobotTest.html
build/debug/riopartial/FRC2020.json
build/libs/FRC2020.jar
build/debug/debuginfo.json
*.class
.gradle/buildOutputCleanup/outputFiles.bin
*.lock
